.admonition {
  margin-bottom: 10px;
  padding: 7px 10px;
  background-color: #F1F1F1;
  border-color: #D4D4D4;
  border-style: solid;
  border-width: 1px;
  @include border-radius(5px);
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  color: #333;
  p {
    margin: 0;
  }
  .admonition-title {
    margin-bottom: .3em;
    font-weight: bold;
  }
}
