/* Clearfix
================================================== */
@mixin clearfix {
  &:before,
  &:after {
    overflow: hidden;
    display: block;
    content: "";
  }
  &:after {
    clear: both;
  }
}
.clearfix {
  zoom: 1; /* IE < 8 */
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}