@charset "utf-8";

body {
  font-family: Georgia,"Times New Roman","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Meiryo,"メイリオ","ＭＳ Ｐ明朝",sans-serif;
}
#header {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1.2em;
  background: url('bg_double.png') repeat-x bottom left;
  p {
    margin: 0;
    @include percent-font-size(13);
  }
}
.rel {
  position: absolute;
  top: 0;
  right: 0;
  a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-right: 12px;
    font-size: 11px;
    color: #FFF;
    span {
      position: relative;
      display: inline-block;
      padding: 4px 6px;
      line-height: 13px;
      background-color: #AEAEAE;
      border-radius: 5px;
      @include percent-font-size(13);
      color: #FFF;
      z-index: 2;
    }
    &:after {
      position: absolute;
      display: inline-block;
      right: 8px;
      width: 1.42em;
      height: 19px;
      background-color: #AEAEAE;
      content: "";
      @include transform-rotate(-45deg);
      z-index: 1;
    }
  }
}
/* Document
================================================== */
#document {
  .section {
    margin-bottom: 10px;
  }
}
/* Topic
================================================== */
.topic {
  margin: 0 0 10px;
  padding: 7px 10px;
  background-color: #F1F1F1;
  border: solid 1px #D4D4D4;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  color: #333;
  .topic-title {
    margin: 0 0 .3em;
    font-weight: bold;
  }
  p,ul {
    margin: 0 0 .3em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.versionadded {
  
}
.versionchanged {
  
}
.deprecated {
  
}
.seealso {
  
}
/* Align
================================================== */
.align-left {
  float: left;
  margin: 0 10px 10px 0;
}
.align-right {
  float: right;
  margin: 0 0 10px 10px;
}
.align-left,
.align-right {
  &:after {
    content: "";
    clear: both;
  }
}
/* Element style
================================================== */
h1,h2,h3,h4,h5,h6 {
  line-height: 1.7em;
  text-rendering: optimizeLegibility;
  font: {
    family: inherit;
    weight: bold;
  }
}
h1 {
  margin-bottom: 30px;
  @include percent-font-size(30);
}
h2 {
  margin: 1.5em 0 .75em;
  @include percent-font-size(24);
}
h3 {
  margin: 1em 0 .5em;
  @include percent-font-size(20);
}
h4, h5, h6 {
  @include percent-font-size(16);
}
h5 {
  color: #444;
}
h6 {
  color: #999;
}
p {
  margin: 1.2em 0;
  line-height: 1.7em;
  @include percent-font-size(16);
}
ul,ol {
  margin: 1.2em 0;
  padding-left: .2em;
}
ul {
  li {
    list-style: disc inside;
  }
  ul {
    margin: .2em 0;
    padding-left: 1em;
    li {
      list-style: square inside;
      @include percent-font-size(13);
    }
  }
}
ol {
  li {
    list-style: decimal inside;
  }
}
dl {
  dt {
    font-weight: bold;
  }
  dd {
    padding-left: 1em;
  }
}
li,dt,dd {
  line-height: 1.8em;
  @include percent-font-size(14);
}
code {
  margin: 0 3px;
  padding: 2px;
  background: #F1F1F1;
  border: solid 1px #EEE;
  color: #333;
}
