.figure {
  display: inline;
  padding: 5px;
  background: #FFF;
  border: solid 1px #CCC;
  @include border-radius(3px);
  img {
    display: block;
    text-align: center;
  }
  .caption {
    margin: 0;
    @include percent-font-size(12);
    color: #777;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
