.navigation {
  margin-bottom: 0;
  padding: 10px 0 0;
  border-top: solid 1px #CCC;
  @include clearfix;
  li {
    display: inline-block;
    width: 47%;
    h3 {
      margin: 0;
      letter-spacing: 0.08em;
      line-height: 1.2;
      @include percent-font-size(10);
      font-weight: normal;
    }
    a {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include percent-font-size(13);
    }
    &.prev {
      float: left;
      h3,a {
        text-align: left;
      }
    }
    &.next {
      float: right;
      h3,a {
        text-align: right;
      }
    }
  }
}
