/* Reset
================================================== */
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,del,dfn,
em,img,ins,kbd,q,samp,b,i,
small,strong,sub,sup,var,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
table {
  border: {
    collapse: collapse;
    spacing: 0;
  }
}
caption,th,td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
ol,ul {
  list-style: none;
}
blockquote,q {
  quotes: none;
  &:before,
  &:after {
    content: "";
    content: none;
  }
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
  display: block;
}
audio,
video,
canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}