sphinx==4.5.0
sphinx-intl==2.2.0
sphinx-JDLinker==2.0.1
sponge-docs-theme==1.1.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib.devhelp==1.0.6
sphinxcontrib.htmlhelp==2.1.0
sphinxcontrib.qthelp==1.0.8
sphinxcontrib.serializinghtml==1.1.10
