
$ebook-default-font-color: #2C2D32;

// Link colors
$ebook-default-link-color:    #456695;
$ebook-default-hover-color:   #456695;
$ebook-default-active-color:  #456695;
$ebook-default-visited-color: #456695;

// Admonitions colors
$ebook-attention-background-color: #EED3D7;
$ebook-attention-border-color: #FFB6B6;
$ebook-attention-font-color: #B94A48;

$ebook-caution-background-color: #EED3D7;
$ebook-caution-border-color: #FFB6B6;
$ebook-caution-font-color: #B94A48;

$ebook-danger-background-color: #EED3D7;
$ebook-danger-border-color: #FFB6B6;
$ebook-danger-font-color: #B94A48;

$ebook-error-background-color: #EED3D7;
$ebook-error-border-color: #FFB6B6;
$ebook-error-font-color: #B94A48;

$ebook-hint-background-color: #E5ECF9;
$ebook-hint-border-color: #3366CC;
$ebook-hint-font-color: #1155CC;

$ebook-important-background-color: #DFF0D8;
$ebook-important-border-color: #D6E9C6;
$ebook-important-font-color: #468847;

$ebook-note-background-color: #DFF0D8;
$ebook-note-border-color: #D6E9C6;
$ebook-note-font-color: #468847;

$ebook-tip-background-color: #E5ECF9;
$ebook-tip-border-color: #3366CC;
$ebook-tip-font-color: #1155CC;

$ebook-warning-background-color: #FFFBD9;
$ebook-warning-border-color: #FBEED5;
$ebook-warning-font-color: #4D3500;

$ebook-admonition-background-color: #FFFBD9;
$ebook-admonition-border-color: #FFEF70;
$ebook-admonition-font-color: #333333;
