.athelas {
  background: #F7F7F7 url("side_athelas.png") repeat-y top left;
  color: $athelas-default-font-color;
  a {
    color: $athelas-default-link-color;
    &:link {
      text-decoration: none;
      -webkit-tap-highlight-color: #D7DCDF;
    }
    &:visited {
      text-decoration: none;
      color: $athelas-default-visited-color;
    }
    &:hover {
      text-decoration: underline;
      color: $athelas-default-hover-color;
    }
    &:active {
      text-decoration: underline;
      color: $athelas-default-active-color;
    }
  }
  .admonition {
    &.attention {
      background-color: $athelas-attention-background-color;
      border-color: $athelas-attention-background-color;
      color: $athelas-attention-font-color;
    }
    &.caution {
      background-color: $athelas-caution-background-color;
      border-color: $athelas-caution-background-color;
      color: $athelas-caution-font-color;
    }
    &.danger {
      background-color: $athelas-danger-background-color;
      border-color: $athelas-danger-background-color;
      color: $athelas-danger-font-color;
    }
    &.error {
      background-color: $athelas-error-background-color;
      border-color: $athelas-error-background-color;
      color: $athelas-error-font-color;
    }
    &.hint {
      background-color: $athelas-hint-background-color;
      border-color: $athelas-hint-background-color;
      color: $athelas-hint-font-color;
    }
    &.important {
      background-color: $athelas-important-background-color;
      border-color: $athelas-important-background-color;
      color: $athelas-important-font-color;
    }
    &.note {
      background-color: $athelas-note-background-color;
      border-color: $athelas-note-background-color;
      color: $athelas-note-font-color;
    }
    &.tip {
      background-color: $athelas-tip-background-color;
      border-color: $athelas-tip-background-color;
      color: $athelas-tip-font-color;
    }
    &.warning {
      background-color: $athelas-warning-background-color;
      border-color: $athelas-warning-background-color;
      color: $athelas-warning-font-color;
    }
  }
}
