
$athelas-default-font-color: #2B373D;

// Link colors
$athelas-default-link-color:    #1E83CB;
$athelas-default-hover-color:   #1E83CB;
$athelas-default-active-color:  #1E83CB;
$athelas-default-visited-color: #1E83CB;

// Admonitions colors
$athelas-attention-background-color: #EED3D7;
$athelas-attention-border-color: #FFB6B6;
$athelas-attention-font-color: #B94A48;

$athelas-caution-background-color: #EED3D7;
$athelas-caution-border-color: #FFB6B6;
$athelas-caution-font-color: #B94A48;

$athelas-danger-background-color: #EED3D7;
$athelas-danger-border-color: #FFB6B6;
$athelas-danger-font-color: #B94A48;

$athelas-error-background-color: #EED3D7;
$athelas-error-border-color: #FFB6B6;
$athelas-error-font-color: #B94A48;

$athelas-hint-background-color: #E5ECF9;
$athelas-hint-border-color: #3366CC;
$athelas-hint-font-color: #1155CC;

$athelas-important-background-color: #DFF0D8;
$athelas-important-border-color: #D6E9C6;
$athelas-important-font-color: #468847;

$athelas-note-background-color: #DFF0D8;
$athelas-note-border-color: #D6E9C6;
$athelas-note-font-color: #468847;

$athelas-tip-background-color: #E5ECF9;
$athelas-tip-border-color: #3366CC;
$athelas-tip-font-color: #1155CC;

$athelas-warning-background-color: #FFFBD9;
$athelas-warning-border-color: #FBEED5;
$athelas-warning-font-color: #4D3500;

$athelas-admonition-background-color: #FFFBD9;
$athelas-admonition-border-color: #FFEF70;
$athelas-admonition-font-color: #333333;
