
$newspaper-default-font-color: #080000;

// Link colors
$newspaper-default-link-color:    #9C0001;
$newspaper-default-hover-color:   #CD0001;
$newspaper-default-active-color:  #CD0001;
$newspaper-default-visited-color: #9C0001;

// Admonitions colors
$newspaper-attention-background-color: #EED3D7;
$newspaper-attention-border-color: #FFB6B6;
$newspaper-attention-font-color: #B94A48;

$newspaper-caution-background-color: #EED3D7;
$newspaper-caution-border-color: #FFB6B6;
$newspaper-caution-font-color: #B94A48;

$newspaper-danger-background-color: #EED3D7;
$newspaper-danger-border-color: #FFB6B6;
$newspaper-danger-font-color: #B94A48;

$newspaper-error-background-color: #EED3D7;
$newspaper-error-border-color: #FFB6B6;
$newspaper-error-font-color: #B94A48;

$newspaper-hint-background-color: #E5ECF9;
$newspaper-hint-border-color: #3366CC;
$newspaper-hint-font-color: #1155CC;

$newspaper-important-background-color: #DFF0D8;
$newspaper-important-border-color: #D6E9C6;
$newspaper-important-font-color: #468847;

$newspaper-note-background-color: #DFF0D8;
$newspaper-note-border-color: #D6E9C6;
$newspaper-note-font-color: #468847;

$newspaper-tip-background-color: #E5ECF9;
$newspaper-tip-border-color: #3366CC;
$newspaper-tip-font-color: #1155CC;

$newspaper-warning-background-color: #FFFBD9;
$newspaper-warning-border-color: #FBEED5;
$newspaper-warning-font-color: #4D3500;

$newspaper-admonition-background-color: #FFFBD9;
$newspaper-admonition-border-color: #FFEF70;
$newspaper-admonition-font-color: #333333;
