.inverse {
  background: #343A3F url("side_inverse.png") repeat-y top left;
  color: $inverse-default-font-color;
  a {
    color: $inverse-default-link-color;
    &:link {
      text-decoration: none;
      -webkit-tap-highlight-color: #D7DCDF;
    }
    &:visited {
      text-decoration: none;
      color: $inverse-default-visited-color;
    }
    &:hover {
      text-decoration: underline;
      color: $inverse-default-hover-color;
    }
    &:active {
      text-decoration: underline;
      color: $inverse-default-active-color;
    }
  }
  .rel {
    a {
      color: #D6DBDF;
      &:after {
        background-color: #434E5E;
      }
      span {
        background-color: #434E5E;
      }
    }
  }
  .admonition {
    &.attention {
      background-color: $inverse-attention-background-color;
      border-color: $inverse-attention-background-color;
      color: $inverse-attention-font-color;
    }
    &.caution {
      background-color: $inverse-caution-background-color;
      border-color: $inverse-caution-background-color;
      color: $inverse-caution-font-color;
    }
    &.danger {
      background-color: $inverse-danger-background-color;
      border-color: $inverse-danger-background-color;
      color: $inverse-danger-font-color;
    }
    &.error {
      background-color: $inverse-error-background-color;
      border-color: $inverse-error-background-color;
      color: $inverse-error-font-color;
    }
    &.hint {
      background-color: $inverse-hint-background-color;
      border-color: $inverse-hint-background-color;
      color: $inverse-hint-font-color;
    }
    &.important {
      background-color: $inverse-important-background-color;
      border-color: $inverse-important-background-color;
      color: $inverse-important-font-color;
    }
    &.note {
      background-color: $inverse-note-background-color;
      border-color: $inverse-note-background-color;
      color: $inverse-note-font-color;
    }
    &.tip {
      background-color: $inverse-tip-background-color;
        border-color: $inverse-tip-background-color;
      color: $inverse-tip-font-color;
    }
    &.warning {
      background-color: $inverse-warning-background-color;
      border-color: $inverse-warning-background-color;
      color: $inverse-warning-font-color;
    }
  }
}