
$inverse-default-font-color: #D6DBDF;

// Link colors
$inverse-default-link-color:    #2FC2EF;
$inverse-default-hover-color:   #2FC2EF;
$inverse-default-active-color:  #2FC2EF;
$inverse-default-visited-color: #2FC2EF;

// Admonitions colors
$inverse-attention-background-color: #EED3D7;
$inverse-attention-border-color: #FFB6B6;
$inverse-attention-font-color: #B94A48;

$inverse-caution-background-color: #EED3D7;
$inverse-caution-border-color: #FFB6B6;
$inverse-caution-font-color: #B94A48;

$inverse-danger-background-color: #EED3D7;
$inverse-danger-border-color: #FFB6B6;
$inverse-danger-font-color: #B94A48;

$inverse-error-background-color: #EED3D7;
$inverse-error-border-color: #FFB6B6;
$inverse-error-font-color: #B94A48;

$inverse-hint-background-color: #E5ECF9;
$inverse-hint-border-color: #3366CC;
$inverse-hint-font-color: #1155CC;

$inverse-important-background-color: #DFF0D8;
$inverse-important-border-color: #D6E9C6;
$inverse-important-font-color: #468847;

$inverse-note-background-color: #DFF0D8;
$inverse-note-border-color: #D6E9C6;
$inverse-note-font-color: #468847;

$inverse-tip-background-color: #E5ECF9;
$inverse-tip-border-color: #3366CC;
$inverse-tip-font-color: #1155CC;

$inverse-warning-background-color: #FFFBD9;
$inverse-warning-border-color: #FBEED5;
$inverse-warning-font-color: #4D3500;

$inverse-admonition-background-color: #FFFBD9;
$inverse-admonition-border-color: #FFEF70;
$inverse-admonition-font-color: #333333;
