
$novel-default-font-color: #1D1916;

// Link colors
$novel-default-link-color:    #9C0001;
$novel-default-hover-color:   #9C0001;
$novel-default-active-color:  #9C0001;
$novel-default-visited-color: #9C0001;

// Admonitions colors
$novel-attention-background-color: #EED3D7;
$novel-attention-border-color: #FFB6B6;
$novel-attention-font-color: #B94A48;

$novel-caution-background-color: #EED3D7;
$novel-caution-border-color: #FFB6B6;
$novel-caution-font-color: #B94A48;

$novel-danger-background-color: #EED3D7;
$novel-danger-border-color: #FFB6B6;
$novel-danger-font-color: #B94A48;

$novel-error-background-color: #EED3D7;
$novel-error-border-color: #FFB6B6;
$novel-error-font-color: #B94A48;

$novel-hint-background-color: #E5ECF9;
$novel-hint-border-color: #3366CC;
$novel-hint-font-color: #1155CC;

$novel-important-background-color: #DFF0D8;
$novel-important-border-color: #D6E9C6;
$novel-important-font-color: #468847;

$novel-note-background-color: #DFF0D8;
$novel-note-border-color: #D6E9C6;
$novel-note-font-color: #468847;

$novel-tip-background-color: #E5ECF9;
$novel-tip-border-color: #3366CC;
$novel-tip-font-color: #1155CC;

$novel-warning-background-color: #FFFBD9;
$novel-warning-border-color: #FBEED5;
$novel-warning-font-color: #4D3500;

$novel-admonition-background-color: #FFFBD9;
$novel-admonition-border-color: #FFEF70;
$novel-admonition-font-color: #333333;
